/* Tackboard styles*/
.academic-theme {
  background-color: var(--academic-background);
}

/* Node and Textbox styles */
.academic-theme .textbox-positioner {
  top: 0%;
}

.academic-theme .textbox-positioner textarea{
  color: var(--academic-text-color);
}

.academic-theme .node {
  background-color: transparent;
  box-shadow: none;
}

.academic-theme .node.selected>div>.textbox-bg {
  background-color: var(--academic-textbox-selected-background);
}

.academic-theme .node>div>.textbox-bg {
  background-color: var(--academic-textbox-background);
}

/* Lines styles */
.academic-theme svg.line {
  stroke: #000;
  fill: #000;
  stroke-width: calc(var(--node-size) / 5);
}

/* Show things pertinent to only academic theme */
.academic-theme #toggle-presentation-mode{
  visibility: visible;
}
