.line {
  position: absolute;
  stroke: #f5f5f5;
  stroke-width: calc(var(--node-size) / 2.5);
}

.line-circle-top, .line-circle-bottom  {
  position: absolute;
  height: calc(var(--node-size) / 2.5);
}

.line>line {
  filter: drop-shadow(0 3px  6px  rgba(0,0,0,0.23));
}
