#node-workspace {
  z-index: 0;
  position: relative;
  width: 2500px;
  height: 2000px;
}

body>.node {
  position: absolute;
}

.node {
  box-shadow: var(--m-s-2);
  z-index: 1;
  background-color: var(--base-white);
  position: absolute;
  width: var(--node-size);
  height: var(--node-size);
  border-radius: calc(var(--node-size) * 0.5);
}

.node.selected {
  background-color: #00c5ae;
}
