#node-workspace {
  z-index: 0;
  position: relative;
  width: 2500px;
  height: 2000px;
}

body>.node {
  position: absolute;
}

.node {
  box-shadow: var(--m-s-2);
  z-index: 1;
  background-color: var(--base-white);
  position: absolute;
  width: var(--node-size);
  height: var(--node-size);
  border-radius: calc(var(--node-size) * 0.5);
}

.node.selected {
  background-color: var(--node-selected-color);
}

.textbox-positioner {
  pointer-events: none;
  visibility: none;
  width: 70px;
  position: relative;
  top: calc(var(--node-size) + 2px);
  left: 50%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

}

.textbox-bg {
  pointer-events: none;
  width: 70px;
  position: relative;
  left: -50%;
  background-color: var(--textbox-background);
  border-radius: 3px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.node-input {
  pointer-events: auto;
  resize: none;
  overflow:hidden;
  width: 70px;
  height:16px;
  padding: 0;
  position: relative;
  text-align: center;
  left: -50%;
  border: none;
  background-color: transparent;
  color: var(--non-menu-white);
}
