#node-workspace {
  z-index: 0;
  position: relative;
  width: 2500px;
  height: 2000px;
}

body>.node {
  position: absolute;
}

.node {
  box-shadow: var(--m-s-2);
  z-index: 1;
  background-color: var(--base-white);
  position: absolute;
  width: var(--node-size);
  height: var(--node-size);
  border-radius: calc(var(--node-size) * 0.5);
}

.node.selected {
  background-color: var(--node-selected-color);
}

.textbox-positioner {
  width: 10px;
  position: relative;
  top: calc(var(--node-size) + 2px);
  left: 50%;

}

.textbox-bg {
  position: relative;
  left: -50%;
  background-color: var(--textbox-background);
}

.node-input {
  padding: 0;
  position: relative;
  width: 10px;
  text-align: center;
  left: -50%;
  border: none;
  background-color: transparent;
  color: var(--non-menu-white);
}
