:root {

  /* Variables */
  --node-size: 15px;

  /* Colors */
  --base-white: #f5f5f5;
  --non-menu-white: #f5f5f5;
  --sb-color: #02a2eb;
  --node-selected-color: #00c5ae;
  --textbox-background: rgba(43,43,43, 0.2);
  --textbox-selected-background: rgb(0,197,174, 0.4);

  /* Material Shadows */
  --m-s-1: 0 1px  3px  rgba(0,0,0,0.12), 0 1px  2px  rgba(0,0,0,0.24);
  --m-s-2: 0 3px  6px  rgba(0,0,0,0.16), 0 3px  6px  rgba(0,0,0,0.23);
  --m-s-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px  6px  rgba(0,0,0,0.23);
  --m-s-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --m-s-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Academic theme variables*/
  --academic-background: #fff;
  --academic-text-color: #000;

}

body {
  position: relative;
  margin: 0;
  background-color: #3c3c3c;
  width: 2500px;
  height: 2000px;
  font-family: Roboto, Arial;
  color: var(--base-white);
}
