#sidebar {
  z-index: 2;
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: var(--sb-color);
  padding: 15px 20px;
  left: -280px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: var(--m-s-4);
}

#sidebar-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--m-s-4);
  border-radius: 24px;
  background-color: var(--sb-color);
  -webkit-transition: .5s ease-in-out .2s;
  -moz-transition: .5s ease-in-out .2s;
  -o-transition: .5s ease-in-out .2s;
  transition: .5s ease-in-out .2s;
  width: 48px;
  height: 48px;
  float: right;
  position: absolute;
  top: 20px;
  left: calc(100% + 20px);
  cursor: pointer;
}

/* Icon 1 */
#sidebar-toggle {
  margin: 8px 8px;
  float: right;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#sidebar-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#sidebar-toggle span:nth-child(1) {
  top: 0px;
}

#sidebar-toggle span:nth-child(2) {
  top: 8px;
}

#sidebar-toggle span:nth-child(3) {
  top: 16px;
}

#sidebar.open {
  left: 0;
}

#sidebar-toggle-wrapper.open {
  -webkit-transition: .5s ease-in-out .2s;
  -moz-transition: .5s ease-in-out .2s;
  -o-transition: .5s ease-in-out .2s;
  transition: .5s ease-in-out .2s;
  box-shadow: none;
  left: calc(100% - 64px);
  top: 0;
}

#sidebar-toggle.open {
  background-color: transparent;
  height: 38px;
}

#sidebar-toggle.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#sidebar-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#sidebar-toggle.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
